<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [3]:
# get the total number of rows and columns (11552 rows, and 85 columns)
df.duplicated(keep='first').sum()

np.int64(154)

In [ ]:
# check for duplicate rows: 154 rows are duplicates
print(df[df.duplicated()])

In [5]:
#drop the duplicate rows
df = df.drop_duplicates()

In [6]:
#confirming the number of rows now in the dataframe with df.shape[0]
df.shape[0]

11398

Verify if duplicates were actually dropped.

In [7]:
# confirm new total rows and columns after duplicates dropped; 11398 rows now exist, 154 were dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11398 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11398 non-null  int64
 1   MainBranch              11398 non-null  object
 2   Hobbyist                11398 non-null  object
 3   OpenSourcer             11398 non-null  object
 4   OpenSource              11317 non-null  object
 5   Employment              11398 non-null  object
 6   Country                 11398 non-null  object
 7   Student                 11347 non-null  object
 8   EdLevel                 11286 non-null  object
 9   UndergradMajor          10661 non-null  object
 10  EduOther                11234 non-null  object
 11  OrgSize                 11302 non-null  object
 12  DevType                 11333 non-null  object
 13  YearsCode               11389 non-null  object
 14  Age1stCode              11385 non-null  object
 15  YearsCodePro            11382 non-null  object
 16  CareerSat               11398 non-null  object
 17  JobSat                  11397 non-null  object
 18  MgrIdiot                10905 non-null  object
 19  MgrMoney                10901 non-null  object
 20  MgrWant                 10905 non-null  object
 21  JobSeek                 11398 non-null  object
 22  LastHireDate            11398 non-null  object
 23  LastInt                 10985 non-null  object
 24  FizzBuzz                11361 non-null  object
 25  JobFactors              11395 non-null  object
 26  ResumeUpdate            11359 non-null  object
 27  CurrencySymbol          11398 non-null  object
 28  CurrencyDesc            11398 non-null  object
 29  CompTotal               10589 non-null  float64
 30  CompFreq                11192 non-null  object
 31  ConvertedComp           10582 non-null  float64
 32  WorkWeekHrs             11276 non-null  float64
 33  WorkPlan                11277 non-null  object
 34  WorkChallenge           11234 non-null  object
 35  WorkRemote              11390 non-null  object
 36  WorkLoc                 11366 non-null  object
 37  ImpSyn                  11393 non-null  object
 38  CodeRev                 11397 non-null  object
 39  CodeRevHrs              8972 non-null   float64
 40  UnitTests               11369 non-null  object
 41  PurchaseHow             11202 non-null  object
 42  PurchaseWhat            11360 non-null  object
 43  LanguageWorkedWith      11387 non-null  object
 44  LanguageDesireNextYear  11264 non-null  object
 45  DatabaseWorkedWith      10945 non-null  object
 46  DatabaseDesireNextYear  10356 non-null  object
 47  PlatformWorkedWith      10987 non-null  object
 48  PlatformDesireNextYear  10854 non-null  object
 49  WebFrameWorkedWith      10005 non-null  object
 50  WebFrameDesireNextYear  9781 non-null   object
 51  MiscTechWorkedWith      9216 non-null   object
 52  MiscTechDesireNextYear  9943 non-null   object
 53  DevEnviron              11369 non-null  object
 54  OpSys                   11364 non-null  object
 55  Containers              11316 non-null  object
 56  BlockchainOrg           9076 non-null   object
 57  BlockchainIs            8788 non-null   object
 58  BetterLife              11300 non-null  object
 59  ITperson                11363 non-null  object
 60  OffOn                   11360 non-null  object
 61  SocialMedia             11105 non-null  object
 62  Extraversion            11378 non-null  object
 63  ScreenName              10891 non-null  object
 64  SOVisit1st              11073 non-null  object
 65  SOVisitFreq             11393 non-null  object
 66  SOVisitTo               11397 non-null  object
 67  SOFindAnswer            11395 non-null  object
 68  SOTimeSaved             11348 non-null  object
 69  SOHowMuchTime           9481 non-null   object
 70  SOAccount               11397 non-null  object
 71  SOPartFreq              10270 non-null  object
 72  SOJobs                  11392 non-null  object
 73  EntTeams                11393 non-null  object
 74  SOComm                  11398 non-null  object
 75  WelcomeChange           11313 non-null  object
 76  SONewContent            9433 non-null   object
 77  Age                     11111 non-null  float64
 78  Gender                  11325 non-null  object
 79  Trans                   11275 non-null  object
 80  Sexuality               10856 non-null  object
 81  Ethnicity               10723 non-null  object
 82  Dependents              11258 non-null  object
 83  SurveyLength            11379 non-null  object
 84  SurveyEase              11384 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

## Finding Missing values

Find the missing values for all columns.

In [8]:
# check first five rows
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [9]:
#find the missing data using the isnull() - True means the value is missing, false means it is not missing
missing_data = df.isnull()

In [10]:
#count missing values in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")  
#missing values by column: 81 in OpenSource, 51 in Student, 112 in EdLevel, 
#737 in Undergrad Major, 164 in EduOther, 96 in OrgSize, 65 in DevType,

Respondent
Respondent
False    11398
Name: count, dtype: int64

MainBranch
MainBranch
False    11398
Name: count, dtype: int64

Hobbyist
Hobbyist
False    11398
Name: count, dtype: int64

OpenSourcer
OpenSourcer
False    11398
Name: count, dtype: int64

OpenSource
OpenSource
False    11317
True        81
Name: count, dtype: int64

Employment
Employment
False    11398
Name: count, dtype: int64

Country
Country
False    11398
Name: count, dtype: int64

Student
Student
False    11347
True        51
Name: count, dtype: int64

EdLevel
EdLevel
False    11286
True       112
Name: count, dtype: int64

UndergradMajor
UndergradMajor
False    10661
True       737
Name: count, dtype: int64

EduOther
EduOther
False    11234
True       164
Name: count, dtype: int64

OrgSize
OrgSize
False    11302
True        96
Name: count, dtype: int64

DevType
DevType
False    11333
True        65
Name: count, dtype: int64

YearsCode
YearsCode
False    11389
True         9
Name: count, dtype: int64

Age1stCode
Age1stCode
False    11385
True        13
Name: count, dtype: int64

YearsCodePro
YearsCodePro
False    11382
True        16
Name: count, dtype: int64

CareerSat
CareerSat
False    11398
Name: count, dtype: int64

JobSat
JobSat
False    11397
True         1
Name: count, dtype: int64

MgrIdiot
MgrIdiot
False    10905
True       493
Name: count, dtype: int64

MgrMoney
MgrMoney
False    10901
True       497
Name: count, dtype: int64

MgrWant
MgrWant
False    10905
True       493
Name: count, dtype: int64

JobSeek
JobSeek
False    11398
Name: count, dtype: int64

LastHireDate
LastHireDate
False    11398
Name: count, dtype: int64

LastInt
LastInt
False    10985
True       413
Name: count, dtype: int64

FizzBuzz
FizzBuzz
False    11361
True        37
Name: count, dtype: int64

JobFactors
JobFactors
False    11395
True         3
Name: count, dtype: int64

ResumeUpdate
ResumeUpdate
False    11359
True        39
Name: count, dtype: int64

CurrencySymbol
CurrencySymbol
False    11398
Name: count, dtype: int64

CurrencyDesc
CurrencyDesc
False    11398
Name: count, dtype: int64

CompTotal
CompTotal
False    10589
True       809
Name: count, dtype: int64

CompFreq
CompFreq
False    11192
True       206
Name: count, dtype: int64

ConvertedComp
ConvertedComp
False    10582
True       816
Name: count, dtype: int64

WorkWeekHrs
WorkWeekHrs
False    11276
True       122
Name: count, dtype: int64

WorkPlan
WorkPlan
False    11277
True       121
Name: count, dtype: int64

WorkChallenge
WorkChallenge
False    11234
True       164
Name: count, dtype: int64

WorkRemote
WorkRemote
False    11390
True         8
Name: count, dtype: int64

WorkLoc
WorkLoc
False    11366
True        32
Name: count, dtype: int64

ImpSyn
ImpSyn
False    11393
True         5
Name: count, dtype: int64

CodeRev
CodeRev
False    11397
True         1
Name: count, dtype: int64

CodeRevHrs
CodeRevHrs
False    8972
True     2426
Name: count, dtype: int64

UnitTests
UnitTests
False    11369
True        29
Name: count, dtype: int64

PurchaseHow
PurchaseHow
False    11202
True       196
Name: count, dtype: int64

PurchaseWhat
PurchaseWhat
False    11360
True        38
Name: count, dtype: int64

LanguageWorkedWith
LanguageWorkedWith
False    11387
True        11
Name: count, dtype: int64

LanguageDesireNextYear
LanguageDesireNextYear
False    11264
True       134
Name: count, dtype: int64

DatabaseWorkedWith
DatabaseWorkedWith
False    10945
True       453
Name: count, dtype: int64

DatabaseDesireNextYear
DatabaseDesireNextYear
False    10356
True      1042
Name: count, dtype: int64

PlatformWorkedWith
PlatformWorkedWith
False    10987
True       411
Name: count, dtype: int64

PlatformDesireNextYear
PlatformDesireNextYear
False    10854
True       544
Name: count, dtype: int64

WebFrameWorkedWith
WebFrameWorkedWith
False    10005
True      1393
Name: count, dtype: int64

WebFrameDesireNextYear
WebFrameDesireNextYear
False    9781
True     1617
Name: count, dtype: int64

MiscTechWorkedWith
MiscTechWorkedWith
False    9216
True     2182
Name: count, dtype: int64

MiscTechDesireNextYear
MiscTechDesireNextYear
False    9943
True     1455
Name: count, dtype: int64

DevEnviron
DevEnviron
False    11369
True        29
Name: count, dtype: int64

OpSys
OpSys
False    11364
True        34
Name: count, dtype: int64

Containers
Containers
False    11316
True        82
Name: count, dtype: int64

BlockchainOrg
BlockchainOrg
False    9076
True     2322
Name: count, dtype: int64

BlockchainIs
BlockchainIs
False    8788
True     2610
Name: count, dtype: int64

BetterLife
BetterLife
False    11300
True        98
Name: count, dtype: int64

ITperson
ITperson
False    11363
True        35
Name: count, dtype: int64

OffOn
OffOn
False    11360
True        38
Name: count, dtype: int64

SocialMedia
SocialMedia
False    11105
True       293
Name: count, dtype: int64

Extraversion
Extraversion
False    11378
True        20
Name: count, dtype: int64

ScreenName
ScreenName
False    10891
True       507
Name: count, dtype: int64

SOVisit1st
SOVisit1st
False    11073
True       325
Name: count, dtype: int64

SOVisitFreq
SOVisitFreq
False    11393
True         5
Name: count, dtype: int64

SOVisitTo
SOVisitTo
False    11397
True         1
Name: count, dtype: int64

SOFindAnswer
SOFindAnswer
False    11395
True         3
Name: count, dtype: int64

SOTimeSaved
SOTimeSaved
False    11348
True        50
Name: count, dtype: int64

SOHowMuchTime
SOHowMuchTime
False    9481
True     1917
Name: count, dtype: int64

SOAccount
SOAccount
False    11397
True         1
Name: count, dtype: int64

SOPartFreq
SOPartFreq
False    10270
True      1128
Name: count, dtype: int64

SOJobs
SOJobs
False    11392
True         6
Name: count, dtype: int64

EntTeams
EntTeams
False    11393
True         5
Name: count, dtype: int64

SOComm
SOComm
False    11398
Name: count, dtype: int64

WelcomeChange
WelcomeChange
False    11313
True        85
Name: count, dtype: int64

SONewContent
SONewContent
False    9433
True     1965
Name: count, dtype: int64

Age
Age
False    11111
True       287
Name: count, dtype: int64

Gender
Gender
False    11325
True        73
Name: count, dtype: int64

Trans
Trans
False    11275
True       123
Name: count, dtype: int64

Sexuality
Sexuality
False    10856
True       542
Name: count, dtype: int64

Ethnicity
Ethnicity
False    10723
True       675
Name: count, dtype: int64

Dependents
Dependents
False    11258
True       140
Name: count, dtype: int64

SurveyLength
SurveyLength
False    11379
True        19
Name: count, dtype: int64

SurveyEase
SurveyEase
False    11384
True        14
Name: count, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [11]:
#  from previous code, it shows there are 32 values missing in WorkLoc
print(missing_data['WorkLoc'].value_counts())

WorkLoc
False    11366
True        32
Name: count, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [12]:
#total value counts for the column WorkLoc
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [13]:
#make a note of the majority value here, for future reference
most_freq_workloc = df['WorkLoc'].mode()[0]
print("The value that is most frequent (majority) in the 'WorkLoc' column is: ", most_freq_workloc)

The value that is most frequent (majority) in the 'WorkLoc' column is:  Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [14]:
# using fillna to replace the empty rows in WorkLoc with the majority value which is 'Office'
df['WorkLoc'].fillna(value='Office', inplace=True)

C:\Users\matth\AppData\Local\Temp\ipykernel_158652\2093742447.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].fillna(value='Office', inplace=True)

In [15]:
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [16]:
# verify if imputing was successful
df['WorkLoc'].isnull().sum()

np.int64(0)

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [17]:
# your code goes here
df['CompFreq'].value_counts()
#df['CompFreq'].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [19]:
df['CompTotal'].median() #median salary to replace missing values in CompTotal

np.float64(65000.0)

In [ ]:
#first, replace the missing data in the CompFreq and CompTotal columns
df['CompFreq'].replace(np.nan, 'Yearly', inplace=True) #replacing 206 missing values with yearly value (majority value)
df['CompTotal'].replace(np.nan, 65000.0, inplace=True)

In [35]:
#alternative for normalizing annual compensation
#def fillComp(freq,total):

 #   if freq == 'Yearly':

  #      return total

   # elif freq == 'Monthly':

    #    return total * 12

   # elif freq == "Weekly":

    #    return total * 52

#df['NormalizedAnnualCompensation'] = df.apply(lambda row : fillComp(row['CompFreq'],row['CompTotal']), axis = 1)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [ ]:
#alternative for NormalizedAnnualCompensation
#create new column named 'NormalizedAnnualCompensation'
#df["CompFreq"].replace(to_replace="Yearly",value=1,inplace=True)
#df["CompFreq"].replace(to_replace="Monthly",value=12,inplace=True)
#df["CompFreq"].replace(to_replace="Weekly",value=52,inplace=True)
#df['NormalizedAnnualCompensation'] = df["CompTotal"] * df["CompFreq"]
#df.tail(5)

In [21]:
# creating a column called NormalizedAnnualCompensation based on following criteria

#calculate Annual Compensation
def compensation(freq, total): #freq = frequency
    result = 0
    if freq == 'Yearly':
        result = total
    elif freq == 'Monthly':
        result = total * 12
    elif freq == 'Weekly':
        result = total * 52
    return result

annual = [compensation(freq, total) for freq, total in zip(df['CompFreq'], df['CompTotal'])]
df['NormalizedAnnualCompensation'] = annual #create new column 
df['NormalizedAnnualCompensation'].head()

0     61000.0
1    138000.0
2     90000.0
3    348000.0
4     90000.0
Name: NormalizedAnnualCompensation, dtype: float64

In [22]:
#find median of normalized annual compensation
df['NormalizedAnnualCompensation'].median()

np.float64(103000.0)

In [23]:
df['NormalizedAnnualCompensation'].mode()

0    780000.0
Name: NormalizedAnnualCompensation, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>